body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #FFB6C1, #F1C6C2);
    color: #800020;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

nav {
    background-color: #800020;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    margin: 0 10px;
    display: inline-block;
}

nav a:hover {
    background-color: #a40028;
}

h1, p {
    text-align: center;
    max-width: 800px;
    margin:20px auto;
    padding:20px;
    font-family: 'Pacifico', cursive;
    color: #800020;
}

p {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
    animation: fadeIn 3s ease-in;
    opacity: 1;
}
title {
    color: #800020;
}

@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.8;
    }
  }

  .heart {
    font-size: 2rem;
    color: #FF69B4; /* Hot pink heart */
    animation: pulse 1.5s ease-in-out infinite;
    margin: 10px;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
  }

#countdown {
    font-size: 64px;
}

hr {
    color: black
}

.timeline-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 40px;
  }
  
  .timeline-horizontal::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background: black;
    z-index: 0;
  }
  
  .event {
    position: relative;
    background: black;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    z-index: 1;
  }
  
  .event::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    background: #3498db;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    box-shadow: 0 0 0 2px #3498db;
  }